.header{
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;

    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo{
        flex-shrink: 0;
    }
    .header__nav{
        white-space: nowrap;
    }
    .header__list{
        display: flex;
        text-decoration: none;
        list-style-type: none;
    }

    .header__items{
        margin-left: 42px;
        text-decoration: none;
        list-style-type: none;
    }



    .header__nav-link{
        font-family: 'Jost';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        color: #333136;
        text-decoration: none;
        list-style-type: none;
    }

}
@media only screen and (max-width: 768px) {
    // .header{


    //     .header__container{
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //     }
    //     .header__logo{
    //         flex-shrink: 0;
    //     }
    //     .header__nav{
    //         white-space: nowrap;
    //     }
    //     .header__list{
    //         display: flex;
    //         text-decoration: none;
    //         list-style-type: none;
    //     }

    //     .header__items{
    //         margin-left: 42px;
    //         text-decoration: none;
    //         list-style-type: none;
    //     }



    //     .header__nav-link{
    //         font-family: 'Jost';
    //         font-style: normal;
    //         font-weight: normal;
    //         font-size: 14px;
    //         line-height: 14px;
    //         letter-spacing: 2px;
    //         color: #333136;
    //         text-decoration: none;
    //         list-style-type: none;
    //     }
    // }
}